@import url('https://fonts.googleapis.com/css?family=Mada&display=swap');
body {
	font-family: 'Mada', sans-serif;
	font-size:16px !important;
}
.arabictext p {
	text-align:right;
}
.latest-pro-slider, .product-info {
	direction:rtl;
}
.latest-pro-slider h5, .latest-pro-slider p a, .productreview  {
	text-align:right;
}
.supplier-info h2 {
	text-align:right;
}
.reviews-star {
    float: left;
    margin-top: 0;
    margin-left: 0;
}
.supplier-info p {
    float: right;
    text-align: right;
    direction: rtl;
}
.supplier-info .user-view ul, .user-view ul li, .supplier-info span.no-view, .supplier-info .user-color {
    float: right;
    direction: rtl;
    text-align: right;
}
.supplier-info span.no-view, .supplier-info .user-color {
    text-align: right;
}
.product-tabs .nav-item {
	margin-left: 10px;
}
.latest-products .inner-product h4 {
	direction: rtl;
	text-align: right;
}
.latest-products .inner-product span.view-product {
    float: left;
}
.product-info h4 {
	text-align:right;
}
.productslide1 span i.fa-cart-plus {
	text-align: right;
	float: right;
	margin-top: 4px;
}
.kitchensinfo h5 {
	text-align:center;
}
.owl-nav {
	direction:ltr;
}
.order-from-kitchens .kitchenssliders {
    padding: 0rem;
}
.best-selling-product .productslide1 span.product-category {
	left: 10px;
	right: auto !important;
}
.icon-bar, .icon-bar:hover {
	left:-20px;
}
.bannerarabic {
	direction:rtl;
}
.bannerarabic h3 {
	text-align: right;
}
.bannerarabic span ,.bannerarabic p {
	width:100%;
	float:right;
	text-align: right;
}
footer.footer-section {
	direction: rtl;
	text-align: right;
}
.footer-section ul {
	padding-right:18px;
}