@media (min-width: 320px) and (max-width: 375px) {
	.searchinput {
		border-radius: 3px 0 0 3px !important;
	}
	.banner-section .slide .carousel-inner img {
		height: 175px;
	}
	.owl-carousel .owl-nav button.owl-prev {
		left: -33px;
		top:110px
	}
	.owl-carousel .owl-nav button.owl-next {
		right: -33px;
		top:110px
	}
	.middle-banner {
		height: 390px;
	}
	.btnshopow {
		margin-top:1rem;
	}
	.order-from-kitchens .kitchenssliders img {
		width:100%;
		height:auto;
	}
	.supplierlisting img, .categorylisting img {
		height:150px;
	}
	.order-from-kitchens .kitchenssliders {
		padding: 0;
	}
	.product-info span.price-off, .product-info cite.sale-off, .product-info h5, .product-info h4 {
		font-size:14px;
	}
	.product-info h4 {
		word-spacing:-3px;
	}
	.product-filter {
		margin-top:1rem !important;
	}
	.storeicon {
		display:none;
	}
	.productslide1 img {
		height:250px
	}
}
@media (min-width: 376px) and (max-width: 414px) {
	.product-filter {
		margin-top:1rem !important;
	}
	.productslide1 img {
		height:280px
	}
	.searchinput {
		border-radius: 3px 0 0 3px !important;
	}
	.banner-section .slide .carousel-inner img {
		height: 175px;
	}
	.owl-carousel .owl-nav button.owl-prev {
		left: -33px;
		top:110px
	}
	.owl-carousel .owl-nav button.owl-next {
		right: -33px;
		top:110px
	}
	.middle-banner {
		height: 325px;
	}
	.btnshopow {
		margin-top:1rem;
	}
	.order-from-kitchens .kitchenssliders img {
		width:100%;
		height:130px;
	}
	.supplierlisting img, .categorylisting img {
		height:176px;
	}
	.product-info span.price-off, .product-info cite.sale-off, .product-info h5, .product-info h4 {
		font-size:14px;
	}
	.product-info h4 {
		word-spacing:-3px;
	}
	.storeicon {
		display:none;
	}
}
@media (min-width: 415px) and (max-width: 600px) {
	.searchinput {
		border-radius: 3px 0 0 3px !important;
	}
	.banner-section .slide .carousel-inner img {
		height: 175px;
	}
	.owl-carousel .owl-nav button.owl-prev {
		left: -33px;
		top:110px
	}
	.owl-carousel .owl-nav button.owl-next {
		right: -33px;
		top:110px
	}
	.middle-banner {
		height: 325px;
	}
	.btnshopow {
		margin-top:1rem;
	}
	.order-from-kitchens .kitchenssliders img {
		width:100%;
		height:130px;
	}
	.supplierlisting img, .categorylisting img {
		height:176px;
	}
	.product-info span.price-off, .product-info cite.sale-off, .product-info h5, .product-info h4 {
		font-size:14px;
	}
	.storeicon {
		display:none;
	}
}
@media (min-width: 734px) and (max-width: 899px) {
	.sitelogo {
		padding-top: 15px;
	}
	.spad {
		display:none;
	}
	.herdersmarticon {
		padding-top: 15px;
		float: left;
	}
	.smallmenus ul {
		padding-left:40px;
	}
	.smallmenus ul li {
		margin-right: 10px;
		font-size: 14px;
	}
	.selectaddress p {
		font-size:14px;
		line-height: 16px;
	}
	.addressicon i {
		font-size:18px;
	}
	.storeicon {
		display:none;
	}
}
@media (min-width: 900px) and (max-width: 1112px) {
	.smallmenus ul {
		padding-left:20px;
	}
	.storeicon {
		display:none;
	}
}