body {
	margin:0;
	padding:0;
	font-size:100%;
	background-color: #F9F9F9;
}
.primary-color {
	color:#021540;
}
header {
	background-color:#021540;
	padding:0.75rem .5rem;
}
.btndrop, .btndrop:focus {
	background-color:#CFCFCF;
	box-shadow: none;
}
.searchinput, .searchinput:focus {
	box-shadow: none;
	border:none;
}
.btnsearch {
	cursor:pointer;
	background-color:#E4973D;
	border:none;
	color:#fff;
}
.arabictext a, .arabictext a:hover {
	color:#ffffff;
	text-decoration:none;
}
.selectaddress i {
	font-size: 20px;
	margin-top: 2px;
}
.selectaddress p {
	font-size:14px;
	line-height:20px;
}
.storeicon {
	height: 25px;
	margin-top: 10px;
	float: left;
	margin-right: 10px;
}
.arabictext p {
	font-size:14px;
}
.btncategory , .btncategory:focus, .btncategory:hover {
	background-color: transparent;
	border:1px solid #dcdcdc;
	color:#ffffff;
	font-size:14px;
	box-shadow:none; 
	text-align: left;
	line-height: 18px;
}
.smallmenus ul {
	padding:0;
	margin:0;
	display:flex;
	justify-content:left;
	list-style:none;
}
.smallmenus ul li {
	display:flex;
	justify-content:left;
	margin-right:20px;
	color:#ffffff;
	font-size:14px;
}
.smallmenus ul li a {
	color:#ffffff;
}
.btnaccount, .btnaccount:focus, .btnaccount:hover {
	background-color:transparent;
	text-align:left;
	border:none;
	font-size:14px;
	line-height:20px;
	box-shadow:none;
	color:#fff;
}
.spad {
	font-size:14px;
}
.wishlist span i, .procart span i {
	font-size:18px;
}
.rightsidecart {
	padding:0;
	margin:0;
	display:flex;
	justify-content:right;
}
.rightsidecart li {
	display:flex;
	justify-content:center;
	margin-left:30px;
}
.latest-pro-slider {
	background-color:#ffffff;
	border-radius:5px;
	box-shadow: 0 0 8px #f1f1f1;
	padding:1rem;
}
.banner-section .slide .carousel-inner img {
	height:250px;
	object-fit: cover;
}
.banner-section .slide .carousel-indicators li {
	 background-color:#021540;
}
.banner-section .slide .carousel-indicators li.active {
	background-color:#E4973D;
}
.latest-pro-slider h5, .latest-pro-slider p a {
	text-transform:uppercase;
	font-size:17px;
}
.speratorline {
	border-top:2px dashed #f1f1f1;
}

/* Slider 1 */
.productslide1 {
	box-shadow: 0 0 5px #ddd;
	border-radius:5px;
	margin:4px;
}
.latest-product, .viewallpro {
	font-weight:600;
	font-size:16px;
}
.viewallpro a {
	color:#E4973D;
}
.productslide1 img {
	object-fit:cover;
	height:175px;
	border-radius: 3px 3px 0 0;
	width:100%;
}
.product-info {
	padding:10px;
	background-color:#fff;
}
.product-info h4 {
	font-size:16px;
	min-height:40px;
	margin-bottom:0;
	font-weight:600;
	color:#021540;
	text-transform:capitalize;
	/* text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;  */
}
.product-info span.price-off {
	color:#6a7889;
	font-weight:600;
	text-decoration:line-through;
	font-size: 14px;
}
.product-info cite.sale-off {
	font-style:normal;
	font-weight:600;
	color:#6a7889;
	font-size: 14px;
}
.product-info h5 {
	font-weight:600;
	color:#021540;
	font-size:16px;
}
.product-info p.productreview i {
	font-size:14px;
	color:#f7ba10;
}
.product-info p.productreview span {
	color:#021540;
	font-weight:600;
}
.owl-dots {
	display:none;
}
.owl-carousel .owl-nav button.owl-prev {
	position: absolute;
	left: -52px;
	top: 125px;
	background-color:#021540;
	color:#fff;
	width:30px;
	height:30px;
	border-radius:2px;
}
.owl-carousel .owl-nav button.owl-next {
	position: absolute;
	right: -52px;
	top: 125px;
	background-color:#021540;
	width:30px;
	height:30px;
	color:#fff;
	border-radius:2px;
}
/* Slider 1 */

/* Slider 2 */
.best-selling-product .productslide1 span.product-category {
	position:absolute;
	color:#ffffff;
	right:10px;
	background-color:rgba(0,0,0,0.6);
	padding: 0 10px;
	border-radius:10px;
	font-size:14px;
	margin-top:5px;
}
/* Slider 2 */

/* middle Banner */
.order-home-food {
	float:left;
	width:100%;
}
.middle-banner {
	height:250px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}
.middle-banner::before {
	content:'';
	position:absolute;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.6)
}
.middle-banner h3 {
	font-size:30px;
	color:#ffffff;
	font-weight:600;
}
.middle-banner span {
	font-size:16px;
	color:#ffffff;
}
.middle-banner p {
	width:350px;
	color:#ffffff;
	text-align:justify;
}
.btnshopow {
	background-color:#ffffff;
	padding:0.45rem 2.15rem;
	color:#021540;
	border-radius:30px;
	font-weight:600;
	margin-top:6.75rem;
}
/* middle Banner */

/* order from kitchens */
.order-from-kitchens .kitchenssliders {
	padding:1rem;
}
.order-from-kitchens .kitchenssliders img {
	border-radius:100%;
	width:175px;
	height:175px;
}
.order-from-kitchens .kitchenssliders img.active {
	border:5px solid #296207;
}
.order-from-kitchens .kitchenssliders img.not-active {
	border:5px solid #666;
}
.kitchensinfo h5 {
	font-size:17px;
	color:#021540;
	text-transform:capitalize;
}
.kitchenssliders {
	box-shadow:none;
}
.order-active {
	border-bottom:3px solid #296207;
}
/* order from kitchens */

/* Footer Section */
footer.footer-section {
	background-color:#021540;
	float:left;
	width:100%;
}
.footer-section h5 {
	text-transform:uppercase;
	font-weight:600;
}
.footer-section p {
	font-size:16px;
}
.footer-section ul {
	padding-left:18px;
}
.footer-section ul li {
	color:#ffffff;
	margin-bottom:5px;
}
.footer-section ul li a {
	color:#fff;
}
.icon-bar {
	background-color:#021540 !important;
}
/* Footer Section */

/* Mobile Side Bar Menu */
.wrapper {
    display: block;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.btnsidemenu {
	background-color:#296207;
	color:#fff;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #021540;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #296207;
}
.sidebar-header cite {
	background-color:#ffffff;
	width:40px;
	height:40px;
	border-radius:100%;
	display: inline-block;
}
.sidebar-header cite i {
	color:#111;
	justify-content:center;
	display:flex;
	padding:0.5rem;
	font-size:22px;
}
#sidebar ul.components {
    padding:0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul.components p {
    color: #fff;
    padding: 10px;
}

#sidebar ul.components li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
	color:#000;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000;
    /* background: #6d7fcc; */
}

a[data-toggle="collapse"] {
    position: relative;
}

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

/* ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
	background: #fff;
} 
*/

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.site-language ul {
	padding:0;
	margin:0;
	list-style:none;
	border-bottom:1px solid #fff;
	float:left;
	width:100%;
	background-color:#296207;
}
.site-language ul li {
	width:33.3334%;
	text-align:center;
	float:left;
	padding:5px 10px;
	border-right:1px solid #fff;
}
.site-language ul li:last-child {
	border-right:0
}
.site-language ul li img {
	width:25px !important;
	height:15px !important; 
}
.m-arabictext a {
	color:#ffffff;
}
.logout-site {
	float:left;
	width:100%;
	position:relative;
}
.logout-site p {
	padding:10px;
	margin-bottom:0;
	background-color:#296207;
}
.logout-site p a {
	color:#ffffff;
}
/* Mobile Side Bar Menu */


/* Product Page */
.product-filter-section .product-filter h5 {
	font-size:18px;
	font-weight:600;
}
.product-filter-section .product-filter ul.cat-filter {
	padding-left:5px;
	margin:0;
	list-style:none;
	margin-bottom:15px;
	border-bottom:1px solid #ccc;
	width:100%;
}
.product-filter-section .product-filter ul.cat-filter li {
	margin-bottom:5px;
	font-size:14px;
}
.product-filter-section .product-filter ul.mealtype {
	border-bottom:none;
}
.btnfeatured span {
	color:#999;
}
.btnfeatured, .btnfeatured:hover, .btnfeatured:focus {
	color:#777;
	border:2px solid #ddd;
	background-color:#ffffff;
	border-radius:5px;
	padding:0.5rem 1rem;
	box-shadow:none;
}
.innerprocat {
	right: 25px !important;
}
/* Product Page */

/* Category Page */
/* .categorypage, .productpage {
	background-color:#F9F9F9;
} */
.categorylist p {
	font-weight:600;
	margin-bottom:0;
}
.categorylist p a, .categorylist p a:hover {
	color:#E4973D;
	text-decoration:none;
}
.categorylisting {
	box-shadow:0 0 6px #ddd;
}
.categorylisting img {
	object-fit:cover;
	height:252px;
	width:100%;
}
.category-name {
	padding:0.65rem;
	text-align:center;
	background-color:#ffffff;
}
.category-name h5 {
	font-size:18px;
	font-weight:600;
	color:#021540;
	margin-bottom:0;
	text-transform:capitalize;
}
.brandlisting img {
	height: 110px;
	object-fit: cover;
	width: 100%;
}
/* .supplierlisting {
	padding-right:1.5rem;
} */
.supplierlisting img {
	border-radius:100%;
	height:158px;
	min-height:150px;
	border:5px solid #296207;
}
.supplierlisting h5 {
	text-align:center;
	margin-top:10px;
	text-transform:capitalize;
}
.brandlisting {
	background-color:#ffffff;
	padding:0;
	box-shadow: 0 0 5px #ddd;
	border-radius:5px;
}
/* Category Page */

.dropdowncategory {
	border: 1px solid #fff;
	height: 38px;
	border-radius: 5px 0 0 5px;
}
.droplistcat {
	height: 38px;
	margin-top:-1px;
	border: none;
	border-radius: 3px 0 0 3px;
	padding: 0 10px;
	text-align: center;
	background-color:#E1E1E1;
	margin-left: -1px;
}
select.droplistcat {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 6px;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	margin-right: 0;
	padding-right: 1.25rem;
}
.shoplistcat, .shoplistcat:focus {
	background-color:transparent;
	color:#fff;
	height:48px;
	border:none;
	border:1px solid #ddd;
	border-radius:3px;
}
.productoffprice {
	min-height:24px;
}
.shopbycategory {
	border:1px solid #f1f1f1;
	border-radius:3px;
	padding:6px;
	line-height: 16px;
	width: 117px;
}
.shopbycategory a span {
	font-size:14px;
	color:#fff;
}
.latest-pro-slider #demos .productslide1 .product-info i.fa-heart {
	color:#021540;
}
.fa-heart {
	color:#021540;
}
/* Category Listing */
.listingcategories h5 {
	color:#E4973D;
	font-weight:600;
}
.bd-bottom {
	border-bottom:1px solid #ccc;
	padding-bottom:8px;
}
.listingcategories ul { 
	list-style:none;
	margin:0;
	padding-left:10px;
}
.listingcategories ul li {
	margin-bottom:5px;
}
.listingcategories ul li a {
	text-decoration:underline;
	color:#021540;
	text-transform:capitalize;
}
/* Category Listing */

.right-cart .address .iti--allow-dropdown {
	width:100%;
}
.allproductlisting #_category .empty {
	padding:0 1rem;
}
.site-error {
	padding:5rem 0 0 0;
	margin-bottom:0;
	height:100vh;
}
.carouselindicator {
	position:relative !important;
	justify-content:initial;
	margin:0;
}
.carouselindicator li img {
	border-radius:0 !important;
	object-fit:contain;
	height:150px;
}
.carouselindicator li {
	width:150px;
	height:150px;
}
.carouselinner .carousel-item img {
	height:400px;
	object-fit:cover;
	object-position:top center;
}