html,
body {
    height: 100vh;

}
.phone input { background-color:rgba(255, 255, 255, 0.2) !important;border: none;color:#fff;}
.num { background-color: #ffffff1a;}
.txt { color:#fff;}
.phone {background-color:transparent;position: relative;}

.wrap {
  /*   min-height: 100%; */
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.my-container { width: 100%; margin-left: auto; margin-right: auto; border: none; }
.h1-header { font-family: 'Segoe UI'; font-size: 1.650em; color: #777777; font-weight: normal; padding: 0px 15px 10px 15px; text-align: center; }
.header { font-family: 'Segoe UI'; font-size: 1.125em; color: #777777; font-weight: normal; padding: 0px 15px; text-align: center; border: none; }
.color-gray { color: #7a7a7a; }
.padding-left-and-right-five-px { padding-left: 5px; padding-right: 5px; }
.social-security-question { font-family: 'Segoe UI'; font-size: 1.286em !important; color: #777777; font-weight: normal; padding: 0px 5px; text-align: center; }
.center-text { text-align: center; }


#SSNArea { font-weight: normal; font-family: 'Segoe UI'; font-size: 20px; text-align: center; width: 30px; min-width: 35px; display: inline; }
#SSNGroup { font-weight: normal; font-family: 'Segoe UI'; font-size: 20px; text-align: center; width: 35px; min-width: 35px; display: inline; }
#SSNSerial { font-weight: normal; font-family: 'Segoe UI'; font-size: 20px; text-align: center; width: 30px; min-width: 35px; display: inline; }

@media (max-width:767px) {
    #SSNArea { font-weight: normal; font-family: 'Segoe UI'; font-size: 20px; text-align: center; width: 75px; display: inline; }
    #SSNGroup { font-weight: normal; font-family: 'Segoe UI'; font-size: 20px; text-align: center; width: 65px; display: inline; }
    #SSNSerial { font-weight: normal; font-family: 'Segoe UI'; font-size: 20px; text-align: center; width: 75px; display: inline; }
    .social-security-question { font-family: 'Segoe UI'; font-size: 1.125em !important; color: #777777; font-weight: normal; padding: 0px 5px; text-align: center; }
}
.passcode_input {
	padding:6px 8px !important;
}
.passcode_num {
	padding:0;
	list-style:none;
}

.tel {
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid;
	border-radius: 0px;
	min-height: 50px;
	text-align: center;
	letter-spacing: 18px;
	    background-color: rgba(233, 236, 239, 0.3607843137254902);
}

.num-pad
{
    padding-left: 15px;
}


.num
{
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 999px;
    border-radius: 999px;
    -moz-border-radius: 999px;
    height: 70px;
    width: 70px;
	margin:auto;
	text-align:center;
    background-color:rgba(255, 255, 255, 0.1803921568627451);
    color: #333;
    cursor: pointer;
}
.num:hover
{
	background: #085078; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #0c83a1, #0c83a1); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #0c83a1, #0c83a1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff !important;
	border:none;
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
.num .txt:hover, .num .txt:active, .num .txt:focus {
	color:#ffffff;
}
.num .txt1:hover, .num .txt1:active, .num .txt1:focus {
	color:#ffffff;
}

.txt{
    font-size: 35px;
    text-align: center;
    /* padding: 25px;  
    font-family: 'Lato' , sans-serif; */
	font-weight:100;
    line-height: 63px;
    color: #fff;
}

.small
{
    font-size: 15px;
}

.btn
{
    font-weight: bold;
    -webkit-transition: .1s ease-in background-color;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}
.btn:hover
{
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
.spanicons
{
    width: 72px;
    float: left;
    text-align: center;
    margin-top: 40px;
    color: #9e9e9e;
    font-size: 30px;
    cursor: pointer;
}
.spanicons:hover
{
    color: #3498db;
    transition-property: color .2s linear 0s;
    -moz-transition: color .2s linear 0s;
    -webkit-transition: color .2s linear 0s;
    -o-transition: color .2s linear 0s;
}
/*.active*/
/*{*/
    /*color: #3498db;*/
/*}*/
.span4 {
	margin: 0px 0px 10px 0px
}
.center_align {
	margin:0 auto;
}
@media (max-width:768px) {
	.span4 {
		margin: 10px 0px 10px 0px;
	}
}
#ui-view{
	height: 100%;
}


.close-but {  position: absolute;
color: #fff;
right: 0px;
top: 0px;
display:inline-block;

padding: 3px 7px;
font-size: 32px;
margin: 0px;
opacity: 0.6;
}