@import url('https://fonts.googleapis.com/css?family=Mada&display=swap');
body {
	font-family: 'Mada', sans-serif;
}
.top-header-country ul.country-flag {
	float:left;
}
.top-header-country ul.country-flag li {
	float:right;
}
li.Langauge-btn a {
	border-left:none;
	border-right:1px solid #d2d2d2;
	padding: 0 4px 0 0;
}
.header-sec .navbar {
	direction:rtl;
}
.header-sec .cus-navbar {
	margin: 0.5px 0;
	margin-right:auto !important;
	margin-left:0 !important;
}
.desktopbtn {
	margin-right:auto !important;
	margin-left:0 !important;
}
.service-sec {
	direction:rtl;
}
.product-slider .autoplay .item .product-content .title a, .saleprice, .title {
	float:right;
	width:100%;
	text-align:right;
	direction:rtl;
}
span.price-tag, .bottom-icon li {
	float:right;
}
.rating-rate, .bottom-icon .wishlist {
	float:left !important;
}
.footer-sec {
	direction: rtl;
	float: right;
}
.footer-links li, .footer-sec h3 {
	text-align:right;
}
.footercontactus  {
	text-align: right;
	direction: rtl;
	float: right;
}
.footer-sec p {
	text-align:right;
	float:right;
	width:100%;
	direction:rtl;
}
.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(1%);
	background-color: #006200;
	z-index: 999999;
	left: -36px;
	right: auto;
	transform: rotate(-90deg);
	transition: all 0.3s ease;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.icon-bar:hover {
    left: -32px;
    right: auto;
    background-color: #DF8317;
}
.heading {
	text-align: right;
	float: right;
	direction: rtl;
}
.divider {
	float: right;
}
.contact_info {
	float: right;
	width: 100%;
	direction: rtl;
}
span.wishlisticon i {
	float:left;
}
.about-div p {
	float: right;
	direction: rtl;
	text-align: right;
}
.signup-body {
	direction:rtl;
	text-align:right;
}
.text-right {
    text-align: left !important;
    direction: ltr;
}
.cus-center li.nav-item {
	margin: 0px 22px 0 0px;
}
.product-content {
	direction:rtl;
}
.product-content .price {
	float: right;
	width: 100%;
	padding: 5px 0;
}
.summary {
	text-align:right;
	direction: rtl;
}
.dshbrd-subnvbar li {
	direction: rtl;
	text-align: right;
	float: right;
	width: 100%;
}
.dshbrd-subnvbar li span.qr {
	float:left;
}
section.p-detail {
	direction:rtl;
}
.new-wishlist h4.mywish-list {
	text-align: right;
	direction: rtl;
	padding: 15px 0;
}
.new-wishlist .item .title {
	text-align: right;
	direction: rtl;
}
section.address-list {
	direction: rtl;
	text-align: right;
	float: right;
}
.cartproduct .my-cart-body ul.nav-tabs {
	padding:0;
}
.my-cart-body .nav-tabs .nav-item {
    margin-right: 0;
    margin-left: 25px;
}
.ul-cart-size ul {
	float: right;
	width: 66%;
}
.cart-close {
	float:left;
}
span.price-total {
	float: left;
}
.right-cart .field-order-date .kv-date-picker {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.right-cart .field-order-date .kv-date-remove {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.right-cart .field-order-date .krajee-datepicker {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.right-cart .bootstrap-timepicker {
	direction: ltr;
}
.profile-side ul li h5 {
	padding: 12px 15px 12px 0;
}
.profile-side ul li p {
	padding: 0 5px 0 5px;
}
.profile-side li p a {
	padding: 0 13px 0 0;
}
span.edit-list, .orderlisting .right-list  {
    float: left;
}
.orderlisting .right-list {
   margin-left: 0 !important;
   margin-right: 0.5rem !important;
}
span.trckorder, span.get-invoice, span.orderdate, span.orderpayment {
    float: left;
}
.order-table .profile-tble tbody tr td span.float-right {
	float:left !Important;
}
.suppliermenu .nav-tabs .nav-link.active {
	direction: ltr;
}
.suppliermenu ul.nav-tabs {
	padding-right:0;
	padding-left:25px;
}
.timing-side form .field-menuschedules-end_time .bootstrap-timepicker, .timing-side form .field-menuschedules-start_time .bootstrap-timepicker, .field-menu-dish_since .bootstrap-timepicker  {
	direction:ltr;
}
span.cus-box {
	right: 80%;
}
.week-circle-small ul {
	float: right;
}
.week-circle-small ul li {
	margin-left: 5px;
	margin-right: 0;
}
span.next-m {
	float: left;
}
.field-menu-dish_image .theme-fas .file-caption-main .input-group-append .btn-file {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.address-list-block .field-menu-status .select2-container--krajee-bs4 .select2-selection--single .select2-selection__clear {
	left: 0.5rem;
	top: 0.65rem;
	right:auto;
}
.item-about {
	text-align:right;
}
.rating {
    float: right;
}
.reviews-star {
    float: right;
}
.QTY label {
    float: right;
    margin: 0 0 0 10px;
}
.QTY ul {
    float: right;
}
.cartbadge {
	right:20px;
}
.p-detail .item-about ul, .user-view {
	float:right;
}
.product-tabs .tab-pane, section.description {
	float: right;
	direction: rtl;
	text-align: right;
}
span.view-p {
    float: left;
}
.profileusername {
	font-style:normal;
	float: right;
}
.wishlistbadge {
	float:left;
}
.rating-container {
	float:right !important;
}
.rating-container .star {
	margin: 0 0 0 4px;
}
.ar-reviewstar {
	float:left;
	margin-left: 0;
	margin-right: 5px;
}
.bottom-icon .wishlist {
	margin-top: 4px;
}
span.cart-price {
    float: left;
}
.field-order-time #order-time {
	text-align:right;
}
.cart-right .right-cart .address .intl-tel-input.allow-dropdown .flag-container {
	right: 8px;
	left: auto;
}
.cart-right .right-cart .address .intl-tel-input .selected-flag .iti-arrow {
	left: 6px;
	right:auto;
}
.cart-right .right-cart .address .intl-tel-input.allow-dropdown input[type="tel"] {
	padding-right: 52px;
	padding-left: 6px;
}
.intl-tel-input .country-list.dropup, .intl-tel-input .country-list {
	width: 300px;
	overflow-x: hidden;
	text-align: right;
}
.intl-tel-input .country-list.dropup .intl-tel-input .country-list {
	text-align: right;
}
.intl-tel-input .country-list .flag-box {
	margin-left: 6px;
	margin-right: 0;
}
.modal .modal-header {
	direction:rtl;
}
.modal .modal-header .close {
	margin:-1rem -1rem -1rem 0;
}
.modal .modal-content .modal-body {
	direction: rtl;
	text-align: right;
}
.modal .modal-content .modal-body .field-wallet-amount .custom-control-inline {
	margin-left: 0;
	margin-right: 1rem;
}
.confirm {
	float: right;
	margin-right: 5%;
	margin-left: 0;
}
.process, .quality, .dispatch  {
	float:right;
}
.delivery {
    float: left;
    margin-left: -5%;
    margin-right: 0;
}
.content3 p {
	margin-right: -56%;
	text-align: center;
	margin-left: 0;
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__clear {
	left: 0.5rem;
	top: 0.65rem;
	right:auto;
}
.select2-container--krajee-bs4 .select2-selection--multiple .select2-search--inline .select2-search__field, #menu-dish_since, .select2-container--krajee-bs4 .select2-results__option--highlighted[aria-selected] {
	text-align:right;
}
.form-control.is-valid {
	padding-left: calc(1.5em + 0.75rem);
	background-position: center left calc(0.375em + 0.1875rem);
}
.select2-container--krajee-bs4 .select2-results__option[aria-selected] {
	text-align: right;
	float: right;
	width: 100%;
}
.s2-togall-button {
	text-align: right;
	width: 100%;
}
.select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__choice__remove {
	padding-top: 2px;
}
.select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__clear {
    top: 0.65rem;
    left: 0.5rem;
    right: auto;
}
.select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__choice {
	float: right;
	margin: 0.375rem 0.375rem 0 0 ;
}
#menuschedules-end_time, #menuschedules-start_time {
	text-align:right;
}
.trckorder1 {
    float: left;
}
.social_ul {
	float:left !important;
}
.login-signup .cus-tabs {
	padding-right:0;
	padding-left:0;
}
.tab-content .row.mob-no {
    padding: 0;
}