/*---- responsive-design -----*/
@media(max-width:1920px){
	span.line {
		width:157px;
		left:32%;
	}
	.shipment{
		margin-top:6%;
	}
	.content3 p{
		margin-left:-65%;
	}
}

@media(max-width:1680px){
	.content3 p {
		margin-left: -60%;
	}
	span.line {
		width: 127px;
		left: 37%;
	}
}

@media(max-width:1600px){
	span.line {
		width: 117px;
		left: 39%;
	}
}

@media(max-width:1440px){
	.content3 p {
		margin-left: 0;
	}
	span.line {
		width: calc(100%);
		left: 38%;
	}
}

@media (max-width: 1366px){
	span.line {
		width: calc(100%);
		left: auto;
	}
	.shipment {
		margin-top: 2rem;
	}
}

@media (max-width: 1280px){
	span.line {
		width: calc(100%);
		left: 30%;
		top:32%;
	}
}

@media (max-width: 1080px){
	.content {
	width: 75%;
	}
	span.line {
		width: 88px;
	left: 46%;
	}
}

@media (max-width: 1050px){
	span.line {
		width: 84px;
		right: 47%;
		left: auto;
	}
}

@media (max-width: 1112px){
	.content{
		width:100%;
	}
	.content3 p {
		font-size:12px;
		margin-left: -6%;
	}
}
@media (max-width: 896px){
	.content{
		width:100%;
	}
	.content3 p {
		font-size:12px;
		margin-left: -16%; 
	}
}

@media (max-width: 991px){
	.content {
		width: 100%;
	}
	span.line {
		width: 84px;
		left: 47%;
	}
}

@media (max-width: 900px){
	.content {
		width: 100%;
	}
	span.line {
		width: 78px;
		right: 49%;
		left: auto;
	}
}

@media (max-width: 800px){
	.content {
		width: 100%;
	}
}

@media (max-width: 768px){
	.content {
		width: 100%;
	}
	span.line {
		width: 72px;
		right: 51%;
		left: auto;
	}
	.address-list .container {
		width:100% !important;
		max-width: 100%;
	}
}

@media (max-width: 736px){
	span.line {
		width: 62px;
		left: 55%;
	}
}

@media (max-width: 667px){
	.content2-header1 p {
		font-size:14px;
	}
	.content2-header1 span {
		font-size: 13px;
	}
	.shipment {
		margin-top: 2rem;
	}
	.content3 p {
		font-size: 12px;
		margin-left: -25%;
	}
	.confirm{
		margin-left:4%;
	}
	span.line {
		width: 49px;
		left: 60%;
	}
}

@media (max-width: 600px){
	.content1 {
		padding:1.2em;
	}
	.content2-header1 p {
		font-size: 13px;
	}
	.content2-header1 span {
		font-size: 12px;
	}
	.imgcircle {
		height: 65px;
		width: 65px;
	}
	.imgcircle img{
		top: 26%;
		left: 27%;
	}
	.content3 p {
		margin-left: -38%;
		font-size:11px;
	}
	.content {
		height: 395px;
	}
	span.line {
		width: 50px;
		left: 58%;
	}
}

@media (max-width: 568px){
	.content{
			height:380px;
	}
	.content1{
		padding: 1em;
	}
	span.line {
		width: calc(100%);
		left: 45%;
	}
	.imgcircle {
		height: 50px;
		width: 50px;
	}
	.imgcircle img {
		height: 25px;
		top: 27%;
		left: 25%;
	}
	.content3 p {
		font-size: 10px;
		margin-left: -50%;
	}
	.confirm {
		margin-left: 5%;
		margin-right: 0;
	}
}

@media (max-width: 414px){
	.content {
		width: 100%;
		height:auto;
		margin-top:0;
		padding:0;
	}
	.content2 {
		margin-left: -14%;
		width: 127.5%;
	}
	.content2-header1 {
		padding:0.7em;
		width: 100%;
		margin-left: 0;
	}
	.content2-header1 p {
		font-size: 19px;
	}
	.content2-header1 span {
		font-size: 16px;
	}
	.confirm {
		width:100%;
	}
	.process {
		width:100%;
		margin: 10% 0 0 5%;
	}
	.quality{
		width:100%;
		margin: 10% 0 0 5%;
	}
	.dispatch{
		width:100%;
		margin: 10% 0 0 5%;
	}
	.delivery{
		width:100%;
		margin: 10% 5% 0 0;
	}
	.imgcircle {
		height: 70px;
		width: 70px;
		margin-left: 0;
	}
	.imgcircle img {
		height: 30px;
		top: 27%;
		left: 28%;
	}
	span.line {
		width: 6px;
		right: 33px;
		left: auto;
		height: 48px;
		top: 98%;
	}
	.content3 p {
		font-size: 15px;
		margin: -2.75rem 0 1rem 0rem;
	}
	.shipment {
		margin-left: 0;
	}
}

@media (max-width: 384px){
	.content1 {
		width:115%;
	}
	.content1 h2 {
		font-size: 21px;
	}
	.content3 p {
		margin: -2.75rem 0 1rem -2rem;
}
	.shipment {
		margin-top: 2rem;
	}
	span.line {
		top:80%;
		left:33px;
		height:calc(100%);
	}
	.content {
		height: auto;
	}
}

@media (max-width: 375px){
	.content {
		height: auto;
		width:100%;
	}
	.content3 p {
		margin: -3rem 0 1rem 2rem;
	}
	span.line {
		top: 95%;
		right: 33px; 
		left: auto; 
		height: calc(100%);
	}
	.shipment {
		margin-left: 0;
	}
}

@media (max-width: 320px){
	.content{
		width:100%;
		margin-top: 1rem;
		padding:0;
		height: auto;
	}
	.content1 {
		padding: 0.7em;
		width:125%;
		margin:-18% 0 0 -18%;
	}
	.header h1{
		font-size:30px;
	}
	.content2 {
		margin-left: -18%;
		width: 136.5%;
	}
	.content1 h2 {
		font-size: 16px;
	}
	.content2-header1 span {
		font-size: 15px;
	}
	.content3 p {
		margin: -3rem 0 2.5em 0;
	}
	.shipment {
		margin: 1rem 0;
	}
	span.line {
		top: 85%;
		right: 33px;
		left: auto;
		height: calc(100% - 40px);
	}
}
/* Track Order Page */