
@media(min-width: 736px){
	.modal-dialog {
		margin: 7.75rem auto;
	}
}

@media (max-width: 991px){
 
  .diff-box ul {
    padding-left: 40px;    
  }

}
@media(max-width: 800px){
	.header-sec .navbar-brand {
		width: 175px !important;
	}
	.cus-center li.nav-item {
		width: 124px;
		margin: 0;
	}
	.cus-center li.nav-item a {
		font-weight: 500;
		font-size: 11px;
	}
	#navbarNav {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 250px;
		transition: all 0.1s ease;
	}
}
@media (max-width: 767px){
	.page-wrap {
		margin-top:6rem;
	}
	span.icon-bar {
		background: #e59b43;
		border: 1px solid;
		margin: 0 15px 0 0px;
	}
	.wedo-box::after{
		display: none;
	}
	.tstml-box{
		padding: 10px;
		margin: 3px;
	}
	.address-panel{
		height: auto;
	}
	.form-area {
		position: relative;
		right: 0;
		top: -25px;
		max-width: none;
	}

	.dropdown-lis .dropdwn-men {
		max-height: calc(100vh - 370px);
		height: auto;
	}

	.dashbrd-sidbar{
		margin-right: 0;
		width: 100%;
	}
	.page-content-wrapper .page-content{
		width: 100%;
		margin-left: 0;
		padding: 0;
		margin-top: 20px;
	}
	.content-panel {
		padding: 20px 10px;
	}

	.file-preview-img {
		width: 24.4%;
	}
	.catg-btn-box .cus-btn {
		top: 34%;
	}
	.header-sec .navbar-brand {
		margin: 0;
		padding: 0 10px;
	}
	.navbar-collapse{
		background-color: #fff;
	}
	.header-sec .cus-navbar > li > a {
		color: #555;
		text-align: left;
	}
	.sticky .navbar-collapse.collapse.in {
		border-top: 1px dashed #ccc;
	}
	.header-sec.sticky .navbar-brand {
		width: 175px;
	}
	.address-list-block {
		padding:15px 5px;
	}
	.address-list-block button {
		float:none;
	}
}

@media (max-width: 640px){
	.why-img2 .btn {
		margin-left: 0px;
		font-size: 15px;
	}
	.banner-descBox h1 {
		font-size: 28px;
	}
	.text-uppercase {
		font-size: 28px;
	}
	.banner-sec .slick-slide img {    
		min-height: 300px;
		object-fit: cover;
	} 
	.thinks-box img {
		margin-left: 31%;
	}
	.thinks-box {
		max-width: 320px;
	}
	.banner-sec {
		height: calc(29vh);
	}
	.product-slider .item .price span, .rating-rate i {
		font-size:12px;
	}
	.checkbox, .forgotpwd {
		text-align:center !important;
	}
	.profileorderdate, .totalprice {
		float:none;
		width:100%;
	}
	.btnaccepted {
		float:right;
		margin-top:-5px;
	}
	span.odr-dte {
		float:left;
		width:100%;
	} 
	.shop-tracking-status {
		float:left;
		width:100%;
	}
	.shop-tracking-status .image-order-status .icon {
		height: 20px;
		width: 20px;
	}
	.shop-tracking-status .image-order-status {
		margin-top: -23px;
	}
	.shop-tracking-status .order-status-timeline {
		height: 8px;
	}
	.shop-tracking-status .order-status-timeline .order-status-timeline-completion {
		height: 4px;
	}
	.shop-tracking-status .image-order-status-completed .status {
		left: -20px;
	}
	.shop-tracking-status .image-order-status .ofd {
		left:-40px;
	}
	.shop-tracking-status .image-order-status .orderconfirm {
		left:-20px !important;
	}
	.shop-tracking-status .image-order-status .orderplaced {
		left:-3px !important;
	}
	.shop-tracking-status .image-order-status .processing {
		left:-18px !important;
	}
	.orderconfirm, .shop-tracking-status .image-order-status-delivered .status {
		top: 45px !important;
	}
	.suppliermenu .address-list-block form ul li.nav-item {
		width:100%;
	}
	.fileupload-buttonbar .btn {
		margin-bottom:0.5rem;
		width:175px;
	}
	.supplierorderdate, .suppliertotalprice {
		float:left;
		width:100%;
	}
	.login-img {
		padding:20px 0;
	}
	.profile-body {
		padding:5px;
	}
	.list-history-aed h4 {
		font-size: 16px;
		margin-bottom: 5px;
	}
	.sign_up_login_modal {
		padding-right:8px !important;
	}
	.m-profile {
		margin-top:0 !important;
		padding-top:0 !important;
	}
	.m-profile .btnabout {
		margin-top:0 !important;
	}
	.p-detail .portfolio-item-slider img {
		height: 225px;
	}
	.productattr #cart-product_attributes-3 .custom-control {
		display:block;
		width:100%; 
	}
	.selectplancard #plans-select_card .custom-control {
		display: block;
		width: 100%;
	} 
	.order-track .trckorder {
		float:left;
		width:100%;
	}
	.order-track p.orderno {
		margin-bottom:5px;
	}
	.product-tabs .Comments-user img {
		height:75px;
		width:75px;
	}

	.new-wishlist h4.mywish-list {
		padding:15px 0;
	}
	span.online {
		margin-left: -1.75rem;
		right:auto;
	}
	.supplier-info {
		margin-top:0.5rem;
	}
	.cart-img img {
		width: 120px !important;
		height: 120px !important;
	}
	#order-payment_code .custom-control {
		display: block;
		width: 100%;
	}
	.right-cart .address .form-group {
		margin-bottom:0.5rem;
	}
	.week-circle-small {
		margin: 0;
		margin-top:10px;
	}
	.profile-side.m-t-35 {
		margin-top:0;
	}
	.add-cake-btn button {
		float: left;
	}
	.weekcirclelisting {
		padding-left:15px;
	}
	.supplier-img img {
		width: 120px;
		height: 120px;
	}
	.supplier-info .rating {
		text-align: center;
		margin:0 auto;
		display: block;
	}
	.rating-container {
		float: none !important;
	}
	.supplier-info h2, .supplier-info p {
		text-align:center;
	}
	.reviews-star {
		margin-left:0;
		text-align:center;
		float:none !important;
	}
	.Comments-user .user-name {
		text-align: left;
	}
	.product-tabs p {
		text-align:left; 
	}
	.user-view ul li {
		width: 33.334%;
		padding: 0 25px;
		text-align:center;
	}
	.chefmenu .Comments-user img {
		width:60px;
		height:60px;
	}
	.suppliermenu .nav-tabs li a.nav-link {
		padding: 0.5rem;
	}
}

@media (max-width: 480px){
	.thinks-box img {
		margin-left: 5%;
	}
	.file-preview-img {
		width: 48.8%;
	}
	.slider-box .slider-tick-label{
		font-size: 12px;
	}
	.product-slider .item .price span, .rating-rate i {
			font-size:12px;
	}
	.agile-products {
		padding:0 5px;
	}
	.product-slider .item .price span, .rating-rate i {
		font-size: 12px;
	}
	.rating-rate {
		line-height: normal;
		margin-top: 1px;
		font-size: 10px;
	}
	section.p-detail {
		padding:30px 0 0 0;
	}
	.product-tabs .Comments-user img {
		height:58px;
		width:58px;
	}
	input.form-control.cus-input {
		width: 30px;
	}
}
@media(max-width: 413px) {
		.header-sec .navbar-brand {
		width: 175px !important;
	}
	.cus-center li.nav-item {
		width: 116px;
	}
	.cus-center li.nav-item a {
		font-size: 11px;
		padding: 0.5rem 0.25rem;
	}
	.header-sec .navbar {
		padding:0.5rem;
	}
	.navbar-toggle{
		margin-top: 0px;
	}
	.sticky .navbar-toggle {
		margin-top: 8px;
	}
	.text-uppercase {
		font-size: 21px;
	}  
	.banner-sec {
		min-height: 185px;
	}
	.banner-sec .slick-dots{
		padding: 0;
	}
	.banner-sec .slick-dots > li.slick-active > button {
		font-size: 20px;
	}
	.category-box .col-xs-6 {
		width: 100%;
	}
	.point-box ul li{
		text-align: justify;
	}
	.contact-img{
		margin-top: 25px;
	}
	.header-sec.public-header {
		padding: 12px 0 0;
	}
	.product-slider .item .price span, .rating-rate i {
		font-size:12px;
	}
	.user-view ul li {
		width: 33.334%;
		padding: 0 10px;
		text-align:center;
	}
}

@media(max-width: 375px){
	.header-sec .navbar-brand {
		width: 175px !important;
	}
	.cus-center li.nav-item {
		width: 110px;
	}
	.cus-center li.nav-item a {
		font-size: 10px;
		padding: 0.5rem 0.25rem;
	}
	.header-sec .navbar {
		padding:0.5rem;
	}
	.navbar-toggle{
		margin-top: 0px;
	}
	.sticky .navbar-toggle {
		margin-top: 8px;
	}
	.text-uppercase {
		font-size: 21px;
	}  
	.banner-sec {
		min-height: 185px;
	}
	.banner-sec .slick-dots{
		padding: 0;
	}
	.banner-sec .slick-dots > li.slick-active > button {
		font-size: 20px;
	}
	.category-box .col-xs-6 {
		width: 100%;
	}
	.point-box ul li{
		text-align: justify;
	}
	.contact-img{
		margin-top: 25px;
	}
	.header-sec.public-header {
		padding: 12px 0 0;
	}
	.product-slider .item .price span, .rating-rate i {
		font-size:12px;
	}
}

@media(max-width: 340px){
	.text-uppercase {
		font-size: 18px;
	}
	.login-pattern{
		padding: 21px;
	}
	.remember-me{
		font-size: 12px;
	}
	.header-sec .navbar-brand {
		width: 175px !important;
	}
	.cus-center li.nav-item {
		width: 98px;
	}
	.cus-center li.nav-item a {
		font-size: 9px;
		padding: 0.5rem 0.25rem;
	}
	.product-slider .autoplay .item, .product-slider .responsive .item {
		margin: 10px 5px;
		padding: 0;
	}
	.product-slider .item .price span, .rating-rate i {
		font-size:12px;
	}
	span.orderdate {
		float:left;
		width:100%;
	}
}
@media(max-width: 330px) {
	.cus-center li.nav-item {
		width: 90px;  
	}
}
@media (min-width: 768px) and (max-width: 799px) {
	.desktopbtn, .search-sec, .service-sec, .top-header-country  {
		display:none !important;
	}
	.maincategory, .addproductcart, .mobilemenus    {
		display:block !important;
	}
	.mobilemenus {
		background-color: #fff;
		float: left;
		height: 100%;
	}
	.banner-sec {
		height:30vh;
	}
	.cus-center li.nav-item {
		margin:0 2rem;
	}
}
@media (min-width: 800px) and (max-width: 895px) {
	.desktopbtn, .search-sec, .service-sec, .top-header-country  {
		display:none !important;
	}
	.maincategory, .addproductcart, .mobilemenus    {
		display:block !important;
	}
	.mobilemenus {
		background-color: #fff;
		float: left;
		height: 100%;
	}
	.banner-sec {
		height:20vh;
	}
	.cus-center li.nav-item {
		margin:0 2rem;
	}
}
@media (min-width: 896px) and (max-width: 991px) {
	.desktopbtn, .search-sec, .service-sec, .top-header-country  {
		display:none !important;
	}
	.maincategory, .addproductcart, .mobilemenus    { 
		display:block !important;
	}
	#navbarNav {
		position: absolute;
		top: 0;
		left: 0; 
		bottom: 0;
		width: 250px;
		transition: all 0.1s ease;
		background-color:#fff;
		height:100vh;
	}
	.banner-sec {
		height:20vh;
	}
	.cus-center li.nav-item {
		margin:0 2rem;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.cus-center li.nav-item {
		width: auto;
		margin: 0;
	}
	.banner-sec {
		height:20vh;
	}
	.cus-center li.nav-item {
		margin:0 0.15rem;
	}
}